<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>coder-camps-js</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/shared/site.css"/>
</head>

<body>
  <h1>Index</h1>
  <ui-view id="main"></ui-view>


  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/shared/app.js"></script>
  <script src= "/components/home/home.module.js"> </script>
  <script src= "/components/home/home.controller.js"> </script>
</body>

</html>
